.navbar .dropdown-toggle::after {
  display: none !important;
}
.btn-nav {
  border-radius: 999px;
}

.btn-profile {
  width: 80px;
}
.logo {
  width: 180px;
  height: 80px;
}
.navbar {
  background-color: #352f44;
}

.nav-icon {
  fill: white;
}

.dropdown-menu {
  background-color: white;
  --bs-dropdown-link-active-bg: transparent;
}

.dropdown-menu .dropdown-link-active {
  background-color: transparent;
}

@media (min-width: 300px) and (max-width: 991px) {
  .center-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.navbar-toggler-icon {
  display: none;
}
.navbar-toggler-icon {
  filter: invert(1);
}
.custom-card {
  line-height: 10px;
}
.custom-card:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 2px 4px rgba(53, 47, 68, 0.5);
}

.card-img-dettaglio {
  margin: -1;
  padding: 0;
  margin-bottom: 3px;
  border: none;
  object-fit: contain;
}
.prima-img-dettaglio {
  object-fit: contain;
}
.img-dettaglio {
  overflow-y: hidden;
  padding: 2px;
}

.icona-dettaglio {
  width: 100px;
  fill: lightslategrey;
}
.icona-dettaglio-posti-letto {
  width: 32px;
  fill: lightslategrey;
}
.icona-dettaglio-servizi {
  width: 32px;
  fill: lightslategrey;
}
.valutazione-stelle {
  font-size: 40px;
  cursor: pointer;
}

.stella-piena::before {
  content: "★";
  color: gold;
  transition: color 0.2s;
}

.stella-vuota::before {
  content: "☆";
  color: lightgray;
  transition: color 0.2s;
}

.stella-piena,
.stella-piena.selected {
  color: yellow;
  filter: drop-shadow(0 0 10px yellow);
}
.stella-piena-card::before {
  content: "★";
  color: black;
}
